.admin_question {
    margin: 20px;
}

.admin_question_header {
    font-size: 20px;
}

.container {
    margin: 5px;
}

.question_instance {
    margin: 20px;
}

.content {
    margin-top: 15px;
    width: 100%;
}

.spacer {
    padding-left: 10px;
}

.question_row {
    width: 200px;
    text-overflow: ellipsis;
}