.admin_question {
    margin: 5px;
}

.admin_question_header {
    font-size: 20px;
}

.container {
    margin: 5px;
}

.grid {
    float:left;
    width: 200px
}

.question_instance {
    margin-left: 10px;
}

.content {
    margin-top: 15px;
    width: 100%;
}

.spacer {
    padding-left: 10px;
}