.question_container {
    max-width: 320px;
    float: left;
}

.sign {
    text-align: right;
    padding: 5px;
    min-width: 80px;
    font-weight: bold;
}

.number {
    text-align: left;
    padding: 5px;
    font-weight: bold;
}

.total {
    border: solid 1px #000;
}